:root {
  font-family:'微软雅黑','Times New Roman';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  width:100%;
  min-height: 100vh;
  height:100vh;
  font-family:'微软雅黑','Times New Roman';
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}
td{
  border: 1px solid black;
  padding: 2px 4px;
  text-align: center;
  margin: 0;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  padding:0;
  height:100vh;
  width:100%;
  font-family:'微软雅黑','Times New Roman';
}

.container-head {
  font-weight: bold;
  color: black;
  font-family: '黑体','times new roman';
  text-align: center;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh; 
  margin-top: 1vh; 
  color:rgb(50, 82, 107);
  position:relative;
  font-size: 3vw;
  border-bottom: 3px solid rgb(50, 82, 107); /* 添加下划线 */
}


.csyl-marker {
  font-family: '微软雅黑', 'Microsoft Times New Roman', 'sans-serif';
  padding: 2px 4px;
  display: inline-block; /* 让容器大小根据内容自适应 */
}

.csyl-title {
  color: #0d37a1;
  font-weight: bold;
  text-align: center;
  margin: 0; /* 移除默认外边距 */
  line-height: 1; /* 设置行高为1 */
  letter-spacing: 0; /* 取消字间距 */
  font-size: 0.8vw;
}

.csyl-text {
  color: #000000;
  font-family: '微软雅黑', 'Microsoft Times New Roman', 'sans-serif';
  text-align: center;
  margin: 0; /* 移除默认外边距 */
  line-height: 1.5vh; /* 设置行高为1 */
  letter-spacing: 0; /* 取消字间距 */

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
.amap-marker-label {
  border: none !important;
  /* background-color: transparent !important; */
  padding: 0 !important;
  /* margin: 0 !important;   */
} 
}